/*

Author: Glenn Skelton
Last Modified: November 14, 2018

*/

btnDiv.input[type=text] {
    width: 100%;
    padding: 12px 30px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 30px;
}


btnDiv {
    text-align: center;
}


input[type=text]:focus {
    /*background-color: lightblue;*/
    border: 3px solid #555;
}

btnDiv.input[type=submit], btnDiv.input[type=button] {
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    height: 20%;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;

}


input[type=submit]:hover, input[type=button]:hover {
    background-color: #4CAF50;
    color: white;
}


form {
    width: 50%;
}


body {
    background-color: black;
    background-position: center;
    background-size: cover;
    font-weight: bold;
    font-family: Verdana;
}

